<!DOCTYPE html>
{% load static %}
{% load viz_tags %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css'%}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/cmcviz.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static  'font-awesome-4.3.0/css/font-awesome.min.css' %}">
    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>

    {% block head %}
    {% endblock %}
</head>
<body>


    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#fixed-top-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Result Sets:</a>
            </div>

             <div class="collapse navbar-collapse" id="fixed-top-navbar">
                 <ul class="nav navbar-nav">
                    <li><a href="{% url 'viz:list_page' 'dge' %}">All DE Genes</a></li>
                    <li><a href="{% url 'viz:list_page' 'die' %}">All DE Isoforms</a></li>
                    <li><a href="{% url 'viz:list_page' 'modules' %}">WGCNA Modules</a></li>
                    <form method="POST" action="{% url 'viz:search' %}" class="navbar-form navbar-left" role="search">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="search_term" class="form-control" placeholder=" Search by Gene Symbol or Ensembl Id">
                        </div>
                        <input class="btn btn-primary" type="SUBMIT" value="Search">
                    </form>
                    <!--<li><a href="#">Sherlock RTC results</a></li>-->
                    <!--<li><a href="#">Genetics Overlaps</a></li>-->
                 </ul>
             </div>
        </div>

    </nav>

<div class="container-fluid">



{% block content %}
{% endblock %}
    </div>
</div>
</body>

    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/stupidtable.js" %}"></script>
    <script src="{% static "js/cmc.js" %}"></script>
</html>
