{% extends 'cmc/base.html' %}

{% block content %}
<h4>Differentially Expressed Genes:</h4>
<table class="table table-condensed table-hover table-to-sort" id="diff-expression-table">
                <thead>
                <tr>
                    <th data-sort="string">Symbol</th>
                    <th data-sort="string">Ensembl Id</th>
                    <th data-sort="float">Average Expression</th>
                    <th data-sort="float">Log2 Fold Change</th>
                    <th data-sort="float">P-value</th>
                    <th data-sort="float">Adj. P-value</th>
                </tr>
                </thead>

                <tbody>
                {% for gene in dge_results %}
                <tr>
                    <td>{{gene.gene.symbol}}</td>
                    <td><a href="{% url 'viz:gene' gene.gene.ensg_Id %}">{{gene.gene.ensg_Id}}</a></td>
                    <td>{{gene.aveExpr}}</td>
                    <td>{{gene.logFC}}</td>
                    <td>{{gene.p_val}}</td>
                    <td>{{gene.adj_p_val}}</td>
                </tr>
                {% endfor %}
                </tbody>
    </table>

{% endblock %}