{% extends 'cmc/base.html' %}

{% block content %}
<h4>Differentially Expressed Isoforms:</h4>
<table class="table table-condensed table-hover table-to-sort" id="diff-expression-table">
                <thead>
                <tr>
                    <th data-sort="string">Symbol</th>
                    <th data-sort="string">Ensembl Id</th>
                    <th data-sort="float">Average Expression</th>
                    <th data-sort="float">Log2 Fold Change</th>
                    <th data-sort="float">P-value</th>
                    <th data-sort="float">Adj. P-value</th>
                </tr>
                </thead>

                <tbody>
                {% for iso in die_results %}
                <tr>
                    <td>{{iso.isoform.parent_gene.symbol}}</td>
                    <td><a href="{% url 'viz:gene' iso.isoform.parent_gene.ensg_Id %}">{{iso.isoform.enst_Id}}</a></td>
                    <td>{{iso.aveExpr}}</td>
                    <td>{{iso.logFC}}</td>
                    <td>{{iso.p_val}}</td>
                    <td>{{iso.adj_p_val}}</td>
                </tr>
                {% endfor %}
                </tbody>
    </table>

{% endblock %}