{% extends 'cmc/base.html' %}

{% block content %}
<h4>WGCNA {{module_name|capfirst}} Module:</h4>
<table class="table table-condensed table-hover table-to-sort" id="diff-expression-table">
                <thead>
                <tr>
                    <th data-sort="string">Gene</th>
                </tr>
                </thead>

                <tbody>
                {% for g in genes %}
                <tr>

                    <td><a href="{% url 'viz:gene' g.gene.ensg_Id %}">{{g.gene.ensg_Id}} ({{g.gene.symbol}})</a></td>
                </tr>
                {% endfor %}
                </tbody>
</table>

{% endblock %}